@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Playwrite+IT+Moderna:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=LXGW+WenKai+Mono+TC&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.home-main-div{
  background-image: url('https://images.freecreatives.com/wp-content/uploads/2016/04/Solid-Black-Website-Background.jpg');
  background-size: cover;
  color: rgb(230, 221, 221);
  display: flex;
}
.btn{
  width:150px;
  height: 40px;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: 400;
  color: white;
  background-color:rgb(68, 42, 139) ;
  margin-top: 20px;
  font-family: "Montserrat", sans-serif;
}
#D{
  width: 100%;
  position: fixed;
  top: 0; 
  z-index: 1000;
  background-color: white;

}
#head-font{
  margin-top: 70px;
  padding-top: 30px;
}
.img{
  margin-top: 90px;
  border-radius: 10px;
}

.btn:active{
  background-color: rgb(84, 28, 28);
}
.div-2{
  height:100vh;
}


.img-div{
  margin-left: 50px;
}
.btn-div{
  text-align: center;
}
.skill-html { 
  background-color: rgb(116, 194, 92); 
  color: white; 
  width: 450px;
  height: 10px;
  text-align: right; 
  font-size: 20px; 
  border-radius: 15px; 
  margin-top: 10px;
  margin-left: 5px;
} 

.skill-php{ 
  width: 450px; 
  background-color: rgb(116, 194, 92); 
  color: white; 
  height: 10px;
  text-align: right; 
  font-size: 20px; 
  border-radius: 15px; 
  margin-top: 10px;
  margin-left: 5px;
  width: 50%;
}
.con-head{
  margin-top: 70px;
  background-size: cover;
  height:600px;
}
.container{
  border: 1px solid white;
  margin-top: 25px;
  display: flex;
  font-size: 1rem;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  font-family:  "Playwrite IT Moderna", cursive;;
}
.d{
  width: 500px;
  padding-top: 10px;
  padding-left: 50px;
  margin-top: 40px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
}
.biodata{
 
  padding-left: 20px;
}
.biodata-2{
 
  padding-left: 40px;
}
.general{
  display: flex;
}
.key{
  font-size: 1.2rem;
  font-weight: 600;
  font-optical-sizing: auto;
  font-family:"LXGW WenKai Mono TC", monospace;
  border-bottom: 1px solid white;
}
.value{
  font-size: 1.2rem;
  font-weight: 600;
  color: grey;
  padding-left: 10px;
}
.main-bio{
  display: flex;
  margin-top: 40px;
}
.container-2{
  border: 1px solid white;
  width: 400px;
  margin-top: 20px;
  display: flex;
  font-size: 1rem;
  margin-left: auto;
  margin-right: auto;
  font-family:  "Playwrite IT Moderna", cursive;;
}
.a{
  text-decoration:underline;
}
.a:hover{
  color: rgb(16, 13, 13);
}
.about{
  display: flex;
}
.ABOUT{
  font-size: 2rem;
  font-weight: 600;
  margin-left: 20px;
  text-decoration: underline;
}
.PARA{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.4rem;
  font-weight: 600;
  margin-top: 30px;
  margin-left: 20px;
}
.front-end{
  display: flex;
  margin-top: 60px;
  flex-wrap: wrap;
}
.back-end{
  display: flex;
}
.card-1{
  flex-basis: 30%;
  text-align: center;
  border: 1px solid rgb(227, 186, 186);
  flex-wrap: wrap;
  border-radius: 10px;
  margin-left: 10px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
}
.cart-1 p {
  margin-top: 10px;
}
.back-end h6{
  font-size: 1.5rem;
  text-decoration: underline;
  text-align: center;
}
.card p{
  margin-top: 10px;
}
.card{
  flex-basis: 30%;
  text-align: center;
  border: 2px solid rgb(227, 186, 186);
  flex-wrap: wrap;
  border-radius: 10px;
  margin-left: 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  margin-top: 20px;
  margin-bottom: 10px;
  
}
.html{
  width: 200px;
  height: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.css{
  width: 200px;
  height: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.js{
  width: 200px;
  height: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.rjs{
  width: 200px;
  height: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.njs{
  width: 200px;
  height: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.ejs{
  width: 200px;
  height: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.mdb{
  width: 200px;
  height: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width:1030px){
  .img-div{
    margin-left:10px ;
  }
  .con-head{
    height: auto;
  }
  .container{
    width: 200px;
  }
  .container-2{
    width: 200px;
  }
  .d{
    width: 300px;
    margin-right: 20px;
  }
  .skill-html{
    margin: auto;
  }
}
@media screen and (max-width:330px){
  
  .a{
    font-size: 1rem;
  }
  .PARA{
    font-size: 0.9rem;
    font-weight: 400;
  }
 

  .container{
    width: 190px;
    margin: 0;
    margin-top: 10px;

  }
  .skill-html{
    display: none;
  }
  .container-2{
    width: 190px;
    margin: 0;
    margin-top: 20px;
    margin-right: 10px;
  }
  .skill-php{
    display: none;
  }
  #head-font{
    font-size: 0.6rem;
  }
}
@media screen and (max-width:430px){
  #head-font{
    font-size: 1.2rem;
  }
  .PARA{
    font-size: 0.9rem;
    font-weight: 400;
  }
  .img{
    margin: 0;
    margin-top: 60px;
  }

  #home-para{
    font-size: 1rem;
    font-size: 300;
    margin: 0px 10px;
  }
  .home-main-div{
    display: block;
    text-align: center;
  }
  .div-2{
    height: auto;
  }
  .img{
    width: 200px;
    height: 200px;
    border-radius: 180px;
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
  #head-font{
    margin-top: 0px;
    margin-left: 0px;
  }
  .about{
    display: block;
  }
  .d{
    margin:0;
    margin-left: 30px;
    width: 290px;
  }
  .main-bio{
    display: block;
  }
  .biodata-2{
    padding: 0;
    padding-left: 20px;
  }
}
@media screen and (max-width:770px){
  #head-font{
    font-size: 2rem;
  }
  .card{
    flex-basis: 70%;
    margin-left:auto;
    margin-right: auto;
  }
  #home-para{
    font-size: 1.1rem;
    font-weight: 500;
  }
  .d{
    margin-right: 8px;
  }
}
